* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 30px;
  background: #fff;
  box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47);
}
.calculator-container > * {
  margin: 0.6rem;
}
input,
button {
  padding: 0.6rem;
  font-weight: bold;
  font-size: 1rem;
}
.buttons-div,.success,.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-div > * {
  flex: 1;
  margin: 0 0.3rem;
  background-color: #2B2B2B;
  color: white;
  border: none;
}

.success,.error{
    flex-direction: column;
}
.success>p:first-child{
    color: #0057FF;
    margin-bottom: 0.5rem;
}
.error>p:first-child{
    color: #FB184E;
    margin-bottom: 0.5rem;
}
.success>*,.error>*{
    font-size: 1rem;
    font-weight: bold;
}